# v1.3.2 October 26, 2013
# https://github.com/bevry/base
language: node_js
install: "npm install; npm install docpad; pushd ./node_modules/docpad; npm install; popd"
before_script: "./node_modules/.bin/cake compile"
script: "npm test"
node_js:
  - "0.10"
